body {
  background-image: url("../img/b48a50e9.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
  width: 85%;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.title {
  align-self: center;
  display: block;
  font-size: 48px;
  color: rgb(34, 45, 70);
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.7);
}
.links {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.link {
  border: 1px solid #2f3085;
  border-radius: 5px;
  background-color: #f5f5dc;
  padding: 5px;
}
.link a {
  text-decoration: none;
}
